pymongo
ipykernel
langchain
langsmith
langgraph
langchain_community
langchain-ollama
langchain-chroma
langgraph-checkpoint-mongodb
# langchain-huggingface
langchain_experimental
transformers
# py_vncorenlp
fastapi[standard]